.card {
    width: 18rem;
    max-height: 8rem;
    padding: 5px;
}


@media (max-width: 600px) {
    .card {
        width: 14rem;
        max-height: 8rem;
        padding: 5px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .cardCol {
        
        margin-left: 2px;
        margin-right: 2px;
    }
}