.container.nomarg-leftright {
    margin-right: 0px;
    margin-left: 0px;

    min-width: 100vw;
}

.container.index {
    height: 100vh;
    min-width: 100vw;

    background: linear-gradient(to bottom right,
            #e0f7fa,
            #ffffff);

    margin-right: 0px;
    margin-left: 0px;
}

.link {
    text-decoration: none;
}

.addIcon {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallIcon {
    max-height: 36px;
    max-width: 36px;

    border-radius: 5px;
}

.row.fixed-bottom {
    left: auto;
    right: auto;
    margin: 7%;
}

@media (max-width: 600px) {

    .container.index {
        height: 90vh;
    }

    .row.fixed-bottom {
        left: auto;
        right: auto;
        margin: 15%;
    }

    .card {
        max-width: fit-content;
        max-height: 5rem;
        padding: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .col.cardCol {
        padding: 0px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

.month-yeard {
    margin-top: 3%;
    margin-bottom: 3%;
}