@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "SF Pro Display",
               "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.row {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 0px;
  padding: 0px;
}
.col {
  margin: 0px;
  padding: 0px;
}
a:-webkit-any-link {
  text-decoration: none;
}
.margin-right {
  margin-right: 5px;
}

@media (min-width: 601px) and (max-width: 2000px) {
  .margin-right-desktop {
    margin-right: 5px;
  } 
}
